<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Person's Profile</title>
    <meta name="description" content="Person’s Profile">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/nearme.css">

</head>

<body>
    <div class=e1_2>
        <div class=e3_70>
            
            <div class=e3_73>
                {{{body}}}
            </div>
            <div class="e3_98"><img class='ellipse_icon' src="/images/ellipses.png"></img></div>
            <div class="e3_99"></div>
            <div class="e3_100"></div>
            <div class="e3_101"></div>
        </div>
    </div>
</body>

</html>