e12 { 
	overflow:hidden
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width: 99%;
	height:95%;
	position:absolute;
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

/*window full*/
.e3_70 { 
	background-color:rgba(243.31249594688416, 241.28489434719086, 241.28489434719086, 1);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

/*window without top bar*/
.e3_73 { 
	background-color:rgba(155.50572842359543, 172.35502749681473, 205.06250202655792, 0.800000011920929);
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:40px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

/*Top_Bar*/
.e3_98 { 
	background-color:rgba(21.064059510827065, 49.06305469572544, 64.81249898672104, 0.7400000095367432);
	width:100%;
	height:3%;
	position:absolute;
	left:0px;
	top:0px;
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}

/*3 teleies*/
.ellipse_icon { 
	/* width: 15%; */
	height:50%;
	position:absolute;
	right:0%;
	/* top:5%; */
	/* background-image:url(images/ellipses.png);
	background-size:25%;
	background-repeat:no-repeat; */
	padding: 0.5%;
    overflow: visible;
}


/*window top part*/
.e3_213 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:100%;
	height:22%;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figmamixed)px;
}

/*Title_Box*/
.e3_217 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(249.6875050663948, 249.6875050663948, 249.6875050663948, 1);
	width: 12.8%;
	min-width:260px;
	height:75px;
	position:absolute;
	left:43.6%;
	top:28.8%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_217 { 
	border:1px solid rgba(179.000004529953, 186.0000041127205, 192.00000375509262, 1);
}
/*Title_Text*/
.e3_218 { 
	
	color:rgba(12.86952942609787, 43.39302554726601, 60.56249924004078, 0.7900000214576721);
	/* width: 80%; */
	min-width:220px;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* position:relative; */
	/* left:10%; */
	/* top:22px; */
	font-family:Montserrat;
	text-align:center;
	font-size:28px;
	letter-spacing:-0.5;
	line-height:px;
}
/*line_left*/
.e4_3 { 
    position: absolute;
    width: 100%;
    height: 3%;
    left: 0px;
    top: 97%;
    
    /* border: 4px solid #222D3A; */
    background:  #222D3A;
}

/*line_right*/
/* .e4_2 { 
    position: absolute;
    width: 74.5%;
    height: 1%;
    left: 25%;
    top: 97%;
    
    border: 4px solid #222D3A;
    background:  #222D3A;
    
} */

/*picture-avatar*/
.avatar { 
	outline:8px solid rgba(34.00000177323818, 45.00000111758709, 58.00000034272671, 1); 
    border-radius: 50%;
}
.avatar { 
	border: 0px;
	max-width: 14%;
	height:auto;
	position:absolute;
	left:10%;
	top:10%;
	/* background-image:url(images/avatar.png);
	background-repeat:no-repeat;
	background-size:cover; */
   
}

/*RefreshIconFrame*/
.e3_87 { 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px;
    isolation: isolate;
	outline: none;
	background-color: transparent;
    position: absolute;
    width: 50px;
    height: 60px;
    right: 2%;
    top: 23%;
}

/*RefreshIconIcon*/

/* Refresh Icon */
.refresh_icon
{
    /* width:100px; */
    height: 120%;
	/* position: absolute; */
	/* right: 20%; */
    /* background-image: url(images/refresh1.png); */
    /* background-size: 100%; */

}


/*Personal Data*/

.e4_24 { 
	width:50%;
	height:427px;
	position:absolute;
	padding: 1em;
	left:20%;
	top:28%;
}
.e4_47 { 
	width:50%;
	height:43px;
	position:absolute;
	left:25%;
	top:0px;
}
.e4_4 { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:31px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.5;
	line-height:px;
}

/*Name_InputBox_Background*/
.e4_5 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:100%;
	min-width: 370px;
	height:40px;
	position:absolute;
	left:256px;
	top:10px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e4_5 { 
	border:1px solid rgba(179.000004529953, 186.0000041127205, 192.00000375509262, 1);
}
.e4_25 { 
	width:260px;
	height:34px;
	position:absolute;
	left:3%;
	top:3px;
}

/*Name_InputBox*/
.e4_6 { 
	
	color:rgba(12.86952942609787, 43.39302554726601, 60.56249924004078, 0.7900000214576721);
	width:240px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:-0.5;
	line-height:px;
}
.e4_49 { 
	width:50%;
	height:43px;
	position:absolute;
	left:25%;
	top:93px;
}
.e4_50 { 
	color:rgba(0, 0, 0, 1);
	width:192px;
	height:31px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.5;
	line-height:px;
}

/*Comany_InputBox_Background*/
.e4_51 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:521.7267456054688px;
	height:40px;
	position:absolute;
	left:256px;
	top:10px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e4_51 { 
	border:1px solid rgba(179.000004529953, 186.0000041127205, 192.00000375509262, 1);
}
.e4_52 { 
	width:113px;
	height:34px;
	position:absolute;
	left:20px;
	top:2px;
}

/*Company_InputBox*/
.e4_53 { 
	
	color:rgba(12.86952942609787, 43.39302554726601, 60.56249924004078, 0.7900000214576721);
	width:93px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:-0.5;
	line-height:px;
}
.e4_65 { 
	width:50%;
	height:43px;
	position:absolute;
	left:25%;
	top:186px;
}
.e4_66 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:31px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.5;
	line-height:px;
}

/*Profession_InputBox_Background*/
.e4_67 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:521.7267456054688px;
	height:40px;
	position:absolute;
	left:256px;
	top:10px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e4_67 { 
	border:1px solid rgba(179.000004529953, 186.0000041127205, 192.00000375509262, 1);
}
.e4_68 { 
	width:226px;
	height:34px;
	position:absolute;
	left:20px;
	top:2px;
}

/*Profession_InputBox*/
.e4_69 { 
	color:rgba(12.86952942609787, 43.39302554726601, 60.56249924004078, 0.7900000214576721);
	width:206px;
	height:14px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:-0.5;
	line-height:px;
}
.e4_70 { 
	width:50%;
	height:43px;
	position:absolute;
	left:25%;
	top:279px;
}
.e4_71 { 
	color:rgba(0, 0, 0, 1);
	width:238px;
	height:31px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.5;
	line-height:px;
}

/*Email_InputBox_Background*/
.e4_72 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:521.7267456054688px;
	height:40px;
	position:absolute;
	left:256px;
	top:10px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e4_72 { 
	border:1px solid rgba(179.000004529953, 186.0000041127205, 192.00000375509262, 1);
}
.e4_73 { 
	width:360px;
	height:34px;
	position:absolute;
	left:20px;
	top:2px;
}

/*Email_InputBox*/
.e4_74 { 
	color:rgba(12.86952942609787, 43.39302554726601, 60.56249924004078, 0.7900000214576721);
	width:340px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:-0.5;
	line-height:px;
}
.e4_75 { 
	width:50%;
	height:43px;
	position:absolute;
	left:25%;
	top:372px;
}
.e4_76 { 
	color:rgba(0, 0, 0, 1);
	width:228px;
	height:31px;
	position:absolute;
	left:0px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.5;
	line-height:px;
}
.e4_77 { 
	background-color:rgba(242.24999696016312, 242.24999696016312, 242.24999696016312, 1);
	width:521.7267456054688px;
	height:40px;
	position:absolute;
	left:256px;
	top:10px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e4_77 { 
	border:1px solid rgba(179.000004529953, 186.0000041127205, 192.00000375509262, 1);
}
.e4_78 { 
	width:187px;
	height:34px;
	position:absolute;
	left:20px;
	top:2px;
}

/*Phone_InputBox*/
.e4_79 { 
	color:rgba(12.86952942609787, 43.39302554726601, 60.56249924004078, 0.7900000214576721);
	width:167px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Montserrat;
	text-align:left;
	font-size:22px;
	letter-spacing:-0.5;
	line-height:px;
}





